RewriteEngine On

# Redirect non-www to www
RewriteCond %{HTTP_HOST} ^archimanager\.fr$ [NC]
RewriteRule ^(.*)$ https://www.archimanager.fr/$1 [R=301,L]

# Force HTTPS
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]
